# Dont forget to use the following command to load the environment variables:
    # from dotenv import load_dotenv
    # load_dotenv()

# Passwords:
    # Gitlab Credentials
        GITLAB_ACCESS_TOKEN='your token'
